<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/hachiman.jpg" alt="Bowo" class="img-thumbnail
            rounded-circle" width="400" />
            <h1 class="display-4">Bowo</h1>
            <p class="lead">Comedian | Transgender</p>
        </div>
    </div>
</div>