<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
</head>
<body>
    <h1>Transactions</h1>
    <ol>
    {% for entry in entries %}
        <li>{{ entry[2] }}: {{ entry[1] }} on {{ entry[0] }}.</li>
    {% endfor %}
    </ol>
</body>
</html>